[Desktop Entry]
Version=1.0
Type=Application
Comment=Launch an ssh session to node02
Exec=xfce4-terminal --geometry=+130-1 -e 'bash -c "ssh node02 || sleep 5"'
Icon=virt-viewer
Terminal=false
StartupNotify=false
Name=6. ssh to Node 02
Path=
