[Desktop Entry]
Version=1.0
Type=Application
Comment=Launch in a termulator. DO ME FIRST!
Exec=xfce4-terminal --geometry=90x26-1+1 -e 'bash -c "$HOME/github/F.E.E./ivshmsg_server.py --socket $HOME/FAME/node_socket || sleep 5"'
Icon=network-server
Terminal=false
StartupNotify=false
Name=1. Gen-Z Fabric Switch
Path=
