[Desktop Entry]
Name=Virtual Machine Manager
Name[as]=ভাৰ্চুৱেল ডিভাইচ ব্যৱস্থাপক
Name[bg]=Мениджър на виртуални машини
Name[bn_IN]=ভার্চুয়াল মেশিন ম্যানেজার
Name[bs]=Upravljač virtualnog računala
Name[ca]=Eina de gestió de màquines virtuals
Name[cs]=Správce virtuálních strojů
Name[da]=Administration for virtuel maskine
Name[de]=Virtuelle Maschinenverwaltung
Name[en_GB]=Virtual Machine Manager
Name[es]=Gestor de máquinas virtuales
Name[fi]=Virtuaalikoneiden hallitsin
Name[fr]=Gestionnaire de machine virtuelle
Name[gu]=વર્ચ્યુઅલ મશીન વ્યવસ્થાપક
Name[hi]=वर्चुअल मशीन प्रबंधक
Name[hr]=Upravljač virtualnog računala
Name[hu]=Virtuális Gép vezérlőpult
Name[it]=Virtual Machine Manager
Name[ja]=仮想マシンマネージャー
Name[kn]=ವರ್ಚುವಲ್‌ ಗಣಕ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=가상 머신 관리자
Name[ml]=വിര്‍ച്ച്വല്‍ മഷീന്‍ മാനേജര്‍
Name[mr]=वर्च्युअल मशीन व्यवस्थापक
Name[ms]=Pengurus Mesin Maya
Name[nl]=Virtuele machine beheerder
Name[or]=ଆଭାସୀ ମେସିନ ପରିଚାଳକ
Name[pa]=ਵਰਚੁਅਲ ਮਸ਼ੀਨ ਮੈਨੇਜਰ
Name[pl]=Menedżer maszyn wirtualnych
Name[pt]=Gestor de Máquinas Virtuais
Name[pt_BR]=Gerenciador de Máquinas Virtuais
Name[ro]=Manager maşină virtuală
Name[ru]=Менеджер виртуальных машин
Name[sk]=Správca virtuálnych počítačov
Name[sr]=Управник виртуелне машине
Name[sr@latin]=Upravnik virtuelne mašine
Name[sv]=Administrerare av virtuella maskiner
Name[ta]=மெய்நிகர் கணினி மேலாளர்
Name[te]=వర్చ్యువల్ కంప్యూటరు నిర్వహణాధికారి
Name[tr]=Sanal Makine Yöneticisi
Name[uk]=Інструмент керування віртуальними машинами
Name[zh_CN]=虚拟系统管理器
Name[zh_TW]=虛擬機管理員
Comment=Manage virtual machines
Icon=virt-manager
Exec=virt-manager
Type=Application
Terminal=false
Categories=System;
Name[en_US.UTF-8]=4. VM Manager
StartupNotify=false
